aiogrpc==1.7
astroid==2.3.1
beautifulsoup4==4.8.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.13
django-bootstrap4==1.0.1
djangorestframework==3.11.0
Flask==1.1.1
googleapis-common-protos==1.51.0
grpcio==1.27.2
gunicorn==20.0.0
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.1
Pillow==8.3.2
protobuf==3.11.3
psycopg2-binary==2.8.5
pycparser==2.19
pylint==2.4.2
pylint-django==2.0.11
pylint-plugin-utils==0.6
pytz==2019.3
requests==2.23.0
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
static3==0.7.0
typed-ast==1.4.0
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.11.2
