{% load bootstrap4 %}

<!-- base page for Finding Fido pages -->
<!DOCTYPE html>

<html lang='en'>
	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
    
   		<title>
   			Finding Fido
   		</title>
    
   		{% bootstrap_css %}
   		{% bootstrap_javascript %}
	</head>

	<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">		  
		  <div id="navbar" class="navbar-collapse collapse">
			<!-- Informational Pages Dropdown Nav Bar -->
			<ul class="nav navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					About
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'ff_app:index' %}">Home</a>	
					</div>
				</li>				
			</ul>
			
			<!-- Finding Fido Drop Down -->
			<ul class="nav navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Finding Fido
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'ff_app:pets' %}">List of Pets</a>
					</div>
				</li>				
			</ul>
			
			<!-- Right Side Drop down for the user -->
		    <ul class="navbar-nav ml-auto">
		      {% if user.is_authenticated %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hello, {{ user.username }} 
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'ff_app:change_password' %}">Change Password</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'users:logged_out' %}">Log Out</a>
					{% if request.user.is_staff %}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/admin/">Admin</a>
					</div>
					{% endif %}
				</li>

		      {% else %}
		        <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">register</a></li>
		        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">log in</a></li>
		      {% endif %} 
		      
		    </ul>
		  </div>

      </div>
    </nav>
    </br>
    </br>
    </br>
    <div class="container">
    
      <div class="page-header">
        {% block header %} <!-- Specific Page Headers -->
        {% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %} <!-- Specific Page Content -->
      </div>
    </div>
	</body>
</html>
