{% extends "ff_app/base.html" %}

{% block header %}
	<div class='jumbotron'>
    	<h2>
			<img src="/static/ff_app/Clyde.jpg" width=20%>
			Welcome to the Finding Fido WebApp!
			<img src="/static/ff_app/website-under-construction.jpg" align=right width=20%>
    	</h2>
	</div>
{% endblock header %}

{% block content %}
	{% load static %}
	<p><b>Finding your fido has never been so much fun!</b></p>
	<p>A <a href="https://www.mc3.edu/">Montgomery County Community College</a> CIS111b Project.</p>

<div>
	<p>
		The purpose of our web app is to provide users with an interface to their “Finding Fido Smart Harness” (working title).  
		Their harness communicates to the web application via a REST API.  Our API is up and running; however, we have run into hardware 
		difficulties with our Arduino boards and GPS modules.  Because of these issues we have not successfully sent data from the harness 
		to our API.  You can still create test data via the webapp’s administrative pages or through our Django REST API's page.  You can access the
		API by navigating to the "Finding Fido Harness API" option in the above navigation bar.
	</p>
	<p>	
		Our API does not require authentication at this time... so play nice!
	</p>
	<p>	
		Since we are still working through several challenges with our “Harness to WebApp” API communications we implemented some additional API 
		functionality/calls in our application to satisfy this project’s API requirement.  We registered our project with petfinder.com and obtained 
		an API key from them so we can query their services about pets who are waiting for adoption.  To view this integration with petfinder’s API please 
		use the “petfinder_API” drop down menu in the web application’s tool bar while logged into the web app.
	</p>
	<p>
		Once authenticated a user can register new pets and harnesses and edit or delete either of these.  Users only have access to see their own pets 
		and harnesses.  In the future we would like to add the ability for users to share this information with each other and to communicate via internal 
		message boards (not yet created).
	</p>
	<p>
		For version control we use GitHub.  Our repository is located @ https://github.com/elisecho/FidoFinder
		Please visit this repository for a full review of our web application’s code.  Please use the final-branch for our most up to date version.
	</p>

{% endblock content %}