{% extends "ff_app/base.html" %}

{% block header %}
	<div class='jumbotron'>
    	<h2>
			<img src="/static/ff_app/Clyde.jpg" width=20%>
			Welcome to the Finding Fido WebApp!
			<img src="/static/ff_app/website-under-construction.jpg" align=right width=20%>
    	</h2>
	</div>
{% endblock header %}

{% block content %}
	{% load static %}
	<p><b>Finding your fido has never been so much fun!</b></p>
	<p>A <a href="https://www.mc3.edu/">Montgomery County Community College</a> CIS111b Project.</p>
	<p><b><u>Our Team (in no particular order)</p></b></u>
	<p>Elise Chokola - aka The Project Manager/Cat Herder!</p>
	<p>Parth Shah - our Soldering Savant!</p>
	<p>Kevin Buss - The Electronics Guru!</p>
	<p>William Lingenfelter - Jack of all Trades and Master of None!</p>
	<p>Sean Dalnodar - Python Wrestler!</p>

<div>
	<p><u><b>About our Project</b></u></p>
	<p>
		The purpose of our web app is to provide users with an interface to their <b>“Finding Fido Smart Harness”</b> (working title). A harness designed to
		assist pets with special needs (hearing/sight impaired).  The harness provides the pet with a slight vibration when their name is called and sends navigational
		data to this webapp so owners can track where their pet has been while wearing the harness. The harness communicates to this web application via a REST API.  
		Our API is up and running; however, we have run into hardware difficulties with our Arduino boards and GPS modules.  Because of these issues we have not 
		successfully sent data from the harness to our API; however, you can create and view test locational data via the webapp’s administrative pages or through 
		our REST API's "Locations" page (available in the above dropdown menu).
	</p>
	<p>	
		Our API does not require authentication at this time... so play nice!  Eventually each harness will use unique API Keys and OAUTH tokens for secure communications.
	</p>
	<p>	
		Since we are still working through several challenges with our “Harness to WebApp” API communications we implemented some additional API 
		functionality/calls in our application to satisfy this project’s API requirement.  We registered our project with petfinder.com and obtained 
		an API key from them so we can query their services about pets who are waiting for adoption.  To view this integration with petfinder’s API please 
		use the “petfinder_API” drop down menu in the web application’s tool bar while logged into the web app.
	</p>
	<p>
		Once authenticated a user can register new pets and harnesses and edit or delete either of these.  Users only have access to see their own pets 
		and harnesses.  In the future we would like to add the ability for users to share this information with each other and to communicate via internal 
		message boards (not yet created).
	</p>
	<p>
		For version control we use GitHub.  Our repository is located @ https://github.com/elisecho/FidoFinder
		Please visit this repository for a full review of our web application’s code.  Please use the final-branch for our most up to date version.
	</p>
	<p>
		 Thank you for visiting our humble project!
	</p>

{% endblock content %}