{% extends "ff_app/base.html" %} 

{% block content %}
	<p>Your pets: </p>
  	<ul class='list-group list-group-flush'>
    	{% for pet in pets %}
      		<li class='list-group-item'>
      			<a href="{% url 'ff_app:pet' pet.id %}">{{ pet }}</a>
      		</li>
    	{% empty %}
			<li class='list-group-item'>No pets have been registered yet.... If you want one you should check out <a href="https://petfinder.com">Petfinder.</a></li> 
		{% endfor %}
  	</ul>
  	</br>
  	<a href="{% url 'ff_app:new_pet' %}">Add a new pet.</a>
  	
{% endblock content %}