{% extends 'ff_app/base.html' %}

{% block content %}
{% load bootstrap4 %}
	<p> For more information about adopting a new friend, please visit <a href="https://petfinder.com">Petfinder.com</a> </p>
	<p> They have many breeds of cats and dogs just waiting for a new home! </p>
	<p><u><b>Current listings include the following dog breeds:</b></u></p> 
	<p> {{ dog_breeds }} </p>
	<p><u><b>Cat breeds that are available for adoption include:</b></u></p> 
	<p> {{ cat_breeds }} </p>
{% endblock content %}
